# Ignore build directories
build/

# Ignore log files
log/

# Ignore install directories
install/

c_generated_code/
c_generated_code_load_planner/
c_generated_code_quad_load/
acados_ocp.json
acados_sim.json
*_ocp.json
*_sim.json

__pycache__/
*.py[cod]
*.pyo
*.pyd
**/__pycache__/
**/*.pyc
# Run logs
logs/
